.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inicio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f6f8; /* Fondo claro */
  font-family: 'Roboto', sans-serif;
}

.inicio-content {
  text-align: center;
  background-color: #ffffff;
  padding: 40px 60px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.titulo {
  font-size: 3rem;
  color: #1976d2; /* Azul primario */
  margin-bottom: 0.5rem;
}

.subtitulo {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
}

.botones {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.circular-button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.circular-button:hover {
  background-color: #125aa3;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*-------------------------------*/
.dashboard-container {
  padding: 60px 20px;
  min-height: 80vh;
  background-color: #f0f8f9;
  text-align: center;
}

.dashboard-title {
  font-size: 2rem;
  color: #1C818D;
  margin-bottom: 40px;
  font-weight: 700;
}

.dashboard-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.dashboard-btn {
  background-color: #1C818D;
  color: white;
  border: none;
  padding: 16px 30px;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 220px;
}

.dashboard-btn:hover {
  background-color: #166b75;
}
